body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #e2e8f0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}